@font-face {
    font-family: 'ra-inet';
    src: url('assets/C&C Red Alert [INET].ttf');
}

@font-face {
    font-family: 'ra-lan';
    src: url('assets/C&C Red Alert [INET].ttf');
}

@keyframes conveyorBelt {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -100;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ra-lan';
}

html,
body {
    overflow: hidden;
}

#drawflow {
    width: 100vw;
    border: 1px solid #ccc;
    background: lightgray;
    height: 100vh;
    position: absolute;
}

.drawflow-node {
    border: 1px solid #999;
    width: fit-content !important;
    transition: background-image 0.2s ease-in-out;
}

.drawflow .connection .main-path {
    stroke-dasharray: 10;
    animation: conveyorBelt 5s linear infinite;
}

details summary {
    cursor: pointer;
}

.float button,
.float input,
.float select {
    width: 25vw;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    display: block;
}

.floating-text {
    position: absolute;
    font-size: 15px;
    animation: floatUp 1.5s ease-out forwards;
    pointer-events: none;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px) scale(1.2);
        opacity: 0;
    }
}

.dock {
    background: white;
    position: absolute;
    z-index: 10;
    padding: 10px;
    border: darkgray solid 1px;
    margin: 10px;
}

.float {
    position: absolute;
    z-index: 10;
    padding: 10px;
    border: darkgray solid 1px;
    background: white;
    margin: 10px;
    margin-top: 68px;
}

.dock button {
    padding: 5px;
}